Options +FollowSymLinks -MultiViews +Indexes

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|tpl|tpl.php)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
  <IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif|swf|css|js)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>

  <FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
  AddType application/font-woff woff
  AddType application/vnd.ms-fontobject eot
  AddType application/x-font-ttf ttc ttf
  AddType font/opentype otf

  AddType image/svg+xml svg svgz
  AddEncoding gzip svgz
</IfModule>

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 https://www.rezeet.io
